[Unit]
Description=uWSGI backend

[Service]
Environment=ENV=prd
ExecStart=/var/www/html/backend/venv/bin/uwsgi --master --emperor /var/www/html/backend/uwsgi.ini --die-on-term --logto /var/www/html/backend/log/servicefile.log
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
